@charset "UTF-8";

body {
    padding-top: 70px;
    background-image: url("/images/background.jpg");
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei",
    \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
    min-width: 800px;
}

nav {
    font-size: 17px;
}

.vertical-nav {
    /*todo 圆角矩形*/
    margin-top: 60px;
    padding: 30px;
    /*width: 100px;*/
}

.vertical-nav .market-index-list {
    /*min-width: 80px;*/
    background: #999;
    width: 90px;
    /*margin: 50px 0 auto 20px;*/
}

.content {
    min-width: 800px;
}

.content .latest-data {
    height: 70px;
    min-width: 1000px;
    background: #c7ddef;
    margin-bottom: 5px;
}

.content .latest-data .name-code {
    height: 70px;
    background: #999999;
}

.content .latest-data .name-code .name {
    font-size: 20px;
    height: 30px;
    line-height: 50px;
    margin-bottom: 5px;
}

.content .latest-data .name-code .code {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
}

.content .latest-data .inc-dec {
    font-size: 28px;
    padding-top: 25px;
}

.content .latest-data .data {
    height: 70px;
    padding: 10px;
}



