@charset "UTF-8";

body {
    padding-top: 70px;
    background-image: url("/images/background.jpg");
    font-family: "Arial", "Hiragino Sans GB", "Microsoft YaHei",
    \5fae\8f6f\96c5\9ed1, "Helvetica", "sans-serif";
}

nav {
    font-size: 17px;
}

li {
    list-style-type: none;
}

/*侧边栏*/
#sidebar {
    margin-right: 60px;
}

.list-group {

}

.rank-list .panel {
    padding: 0;
    margin: 0;
}

.rank-list .panel .panel-body {
    padding: 0;
    margin: 0;
}

