<?xml version="1.0" encoding="UTF-8"?>
<project>
    <presentation>
        <mainFrame>
            <default x="342" y="140" width="683" height="512"/>

            <last x="93" y="189" width="1366" height="716"/>

            <minimumSize width="683" height="512"/>
        </mainFrame>

        <panel>
            <MenuPanel x="0" y="0" width="136" height="512"/>
            <OperationPanel x="136" y="0" width="769" height="512"/>
        </panel>

        <font name="新宋体" style="0" size="14"/>
    </presentation>
</project>