<?xml version="1.0" encoding="UTF-8"?>
<project>
    <presentation style="Nimbus">
        <mainFrame>
            <default x="342" y="140" width="683" height="512"/>

            <last x="194" y="107" width="1024" height="576"/>

            <minimumSize width="1024" height="576"/>
        </mainFrame>

        <panel>
            <MenuPanel autoHidden="false"/>
        </panel>

        <data>
            <StockData updateLag="2"/>
        </data>

        <font name="新宋体" style="0" size="14"/>
    </presentation>
</project>