<?xml version="1.0" encoding="UTF-8"?>
<project>
    <presentation>
        <mainFrame>
            <default x="342" y="140" width="683" height="512"/>
            <last x="0" y="-4" width="1366" height="772"/>
            <minimumSize width="683" height="512"/>
        </mainFrame>
    </presentation>
</project>